#base {
	height: 100vh;
}

/* HOME */

#search-container {
	margin: 0 13%;
	padding: 5%;
	background-color: whitesmoke;
	border-radius: 10px;
	border-top: 0.2px solid black;
	border-left: 0.2px solid black;
	-webkit-box-shadow: 13px 13px 6px 0px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 13px 13px 6px 0px rgba(0, 0, 0, 0.57);
	box-shadow: 13px 13px 6px 0px rgba(0, 0, 0, 0.57);
}

#search-form {
	width: 60%;
}


/* ANALYSIS */

.toggle-container {
	cursor: pointer;
	margin: 1rem;
}

.toggle-container > .d-flex {
	padding: 10px;
	border: 2px solid rgb(53, 52, 52);
	border-radius: 5px;
	width: 100%;
}

.toggle-container i {
	transition: all 0.3s ease;
}

.rotate-arrow-collapse {
	transform: rotateZ(180deg);
}

.comments-container {
	height: 50vh;
	overflow: auto;
}